<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>363777275667-h0ciqdj7qgg7lb2mk7l70kv010md8pl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363777275667-h0ciqdj7qgg7lb2mk7l70kv010md8pl9</string>
	<key>API_KEY</key>
	<string>AIzaSyCFBF-2OBpTHPCsBqoJBaPrvZruLGhkuvE</string>
	<key>GCM_SENDER_ID</key>
	<string>363777275667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caryta.messenger</string>
	<key>PROJECT_ID</key>
	<string>caryta-20832</string>
	<key>STORAGE_BUCKET</key>
	<string>caryta-20832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:363777275667:ios:45a6dc3969d79bc3</string>
	<key>DATABASE_URL</key>
	<string>https://caryta-20832.firebaseio.com</string>
</dict>
</plist>
